body {
  font-family: 'Segoe UI', Arial;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
  margin: 0;
}

body > * {
  max-width: 900px;
  margin: auto;
  padding: 10px 20px;
}

.header {
  font-size: 18px;
  color: #ef4444;
  font-weight: bold;
}

h1 {
  text-align: center;
  color: #ef4444;
}

h2 {
  text-align: center;
  color: #9ca3af;
}

.topbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.nav-left, .nav-right {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  background: #ef4444;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(239,68,68,0.4);
}

.card {
  background: linear-gradient(145deg, #0f172a, #1e293b);
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.cards-top {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.highlight {
  flex: 1;
  min-width: 250px;
  border-left: 4px solid #ef4444;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #ef4444;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #334155;
}

input {
  width: 50px;
  text-align: center;
}

.fila {
  padding: 10px;
  margin: 5px 0;
  background: rgba(255,255,255,0.05);
  border-radius: 8px;
}

.lider {
  background: linear-gradient(90deg, gold, orange);
  color: black;
}